# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

JWT_SECRET=regis

DATABASE_URL="postgresql://postgres:MySecr3tPasSword56543@localhost:5432/Mydb?schema=public"
DB_PASSWORD=Mys3cretPa$$worD
DB_NAME=market